<div class="container">
	<div class="row">
	 <form>
	  <div class="form-group">
	    <input type="text" class="form-control" id="classType" placeholder="Class Type">
	  </div>
	  <div class="form-group">
	    <input type="textarea" class="form-control" id="classInfo" placeholder="Class Information">
	  </div>
	  <div class="form-group">
	    <input type="text" class="form-control" id="classDate" placeholder="Class Date">
	  </div>
	  <button type="submit" id="submit" class="btn btn-primary">submit</button>
	</form>
</div>

	<div id="build">
	</div>
</div>

<script src="/js/classSignUp.js"></script>