  <div class="row jumbotron">
    <h1 id="welcome" class="text-center">Welcome!</h1>
  </div>
  <div class="row">
    <img src="images/yogaProfilePic.jpg" class="img-responsive img-circle pull-left" height="150" width="150" alt="Kelly Yogi">
    <p>It is my mission to bring yoga to the lives of people looking for balance, peace, and wellness in Akron, OH and the surrounding areas.</p>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
    </div>
    
    <div class="panel-body">
      Panel content
    </div>
  </div>

<script src="/js/index.js"></script>