 <div class="container">
        <div class="row jumbotron">
          <h1 id="welcome" class="text-center">Welcome!</h1>
        </div>
        <div class="row userData">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="firstName" placeholder="First Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="lastName" placeholder="Last Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <input type="tel" class="form-control" id="phoneNum" placeholder="Phone Number">
            </div>
            <button type="submit" id="submit" class="btn btn-primary">submit</button>
            <button type="submit" id="back" class="btn btn-primary pull-right">Select a Different Class</button>
          </form>
        </div>

        <div id="build"></div>
        
</div>

<script src="/js/signUp.js"></script>

